.col-order { width: 40px; }
.col-image { width: 120px; }
.col-tab { width: 132px; }
.input-tab { width: 25px; }
.col-link, .input-link { width: 400px; }
.col-header, .input-header { width: 280px; }
.col-description, .input-description { width: 400px; }
